APP_PORT=8080
LOG_LEVEL=info
LOG_DIR=.logs

DATABASE_URL=mysql://root:root@localhost:3306/sv_blog?allowPublicKeyRetrieval=true&useSSL=false
DATABASE_MAX_OPEN_CONNS=10
DATABASE_MIN_CONNS=1
DATABASE_MAX_CONN_LIFETIME=1h
DATABASE_MAX_CONN_IDLE_TIME=30m

REDIS_ADDR=localhost:6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=0

CORS_ALLOWED_ORIGINS=*
CORS_ALLOWED_METHODS=GET,POST,PUT,DELETE,OPTIONS,PATCH
CORS_ALLOWED_HEADERS=Content-Type,Authorization
CORS_ALLOW_CREDENTIALS=true
CORS_MAX_AGE=86400

AUTH_SERVER_URL=https://go-be.logstack.web.id
AUTH_APP_CODE=sv-blog
AUTH_TIMEOUT=10s
